# Ignorar todo en carpetas con imágenes 
Computer_Vision/pizza_steak/
Computer_Vision/10_food_classes_all_data/
Transfer_Learning/Feature_Extraction/10_food_classes_10_percent/
Transfer_Learning/Feature_Extraction/datasets/
Transfer_Learning/Fine_Tuning/10_food_classes_10_percent/

# Ignorar zip
Computer_Vision/pizza_steak.zip
Computer_Vision/10_food_classes_all_data.zip
Transfer_Learning/Feature_Extraction/10_food_classes_10_percent.zip